$font-family: -apple-system, BlinkMacSystemFont, 
             "Segoe UI", "Roboto", "Oxygen", 
             "Ubuntu", "Cantarell", "Fira Sans", 
             "Droid Sans", "Helvetica Neue", sans-serif !default;
$base-font-size: 22px !default;

$column-gutter: 10px !default;


$bg-disconnected: #C62828 !default;
$bg-lobby: #263238 !default;
$bg-unsupported-browser: #eee6e1 !default;

$bg-default: white !default;
$bg-login: hsl(200, 18%, 46%) !default;

$btn-bg: hsl(202, 4%, 51%) !default;