// Override generated variables here
// For example, by default, the $danger color is $red and the font is sans-serif
// You can change these values:

$column-gutter: 10px !default;
$container-width: 500px !default;

$bg-disconnected: #C62828 !default;
$bg-lobby: #263238 !default;
$bg-unsupported-browser: #eee6e1 !default;

$bg-default: white !default;
$bg-login: hsl(200, 18%, 46%) !default;

$button-bg: hsl(202, 4%, 51%) !default;


$default-color: hsla(0, 0%, 0%, .5);
$active-color: rgb(152, 251, 152);
$jackpot-color: crimson;
$xl-color: #e91e63;
$l-color: #9b59b6;
$m-color: #f1c40f;
$s-color: #e67e22;
$xs-color: #e74c3c;

$grid-size: 380px;