@import '../../style/_config';

$default-color: hsla(0, 0%, 0%, .5);
$active-color: rgb(152, 251, 152);
$jackpot-color: crimson;
$xl-color: rgb(136, 14, 79);
$l-color: rgb(69, 39, 160);
$m-color: rgb(13, 71, 161);
$s-color: rgb(0, 96, 100);
$xs-color: rgb(123, 8, 0);

.section {
  composes: section from '../../style/_section.scss';
  color: #263238;  
}

.versusGrid {
  display: block;
  
  height: 320px;
  width: 320px;
  margin-left: auto;
  margin-right: auto;
  transition: opacity 100ms ease;
}
.versusGridWaiting {
  opacity: .4;
}

.cell {
  //border: 1px solid  $border-color;
  background-color: $default-color;
  box-shadow: $default-color 0 0 0 1px, inset $default-color 0 0 0 1px;
  float: left;
  height: 10%;
  width: 10%;
}
.cellActive {
  //border-color: $active-color;
  box-shadow: $active-color 0 0 0 1px, inset $active-color 0 0 0 1px;
  background-color: mix($default-color, $active-color, 66%);
  position: relative;
  z-index: 1;
}
.cellJackpot {
  //border-color: $active-color;
  box-shadow: $jackpot-color 0 0 0 1px, inset $jackpot-color 0 0 0 1px;
  background-color: mix($default-color, $jackpot-color, 66%);
  position: relative;
  z-index: 1;
}
.cellEmpty {
  opacity: .4;
}
.navbar {
  position: relative;
  padding-left: 30px;
  padding-right: 30px;
}
.backLink {
  position: absolute;
  top: 0px;
  left: 0px;
  color: inherit;
  padding-left: 2px;
  padding-right: 2px;
  text-decoration: none;
}
.cellRemaining {
  opacity: .8;
}
.cellXL {
  background: mix($default-color, $xl-color, 66%) !important;
  &.cellJackpot {
    background: $xl-color !important;
    box-shadow: mix($xl-color, $jackpot-color, 66%) 0 0 0 1px, inset mix($xl-color, $jackpot-color, 66%) 0 0 0 1px;
  }
}
.cellL {
  background: mix($default-color, $l-color, 66%) !important;
  &.cellJackpot {
    background: $l-color !important;
    box-shadow: mix($l-color, $jackpot-color, 66%) 0 0 0 1px, inset mix($l-color, $jackpot-color, 66%) 0 0 0 1px;
  }
}
.cellM {
  background: mix($default-color, $m-color, 66%) !important;
  &.cellJackpot {
    background: $m-color !important;
    box-shadow: mix($m-color, $jackpot-color, 66%) 0 0 0 1px, inset mix($m-color, $jackpot-color, 66%) 0 0 0 1px;
  }
}
.cellS {
  background: mix($default-color, $s-color, 66%) !important;
  &.cellJackpot {
    background: $s-color !important;
    box-shadow: mix($s-color, $jackpot-color, 66%) 0 0 0 1px, inset mix($s-color, $jackpot-color, 66%) 0 0 0 1px;
  }
}
.cellXS {
  background: mix($default-color, $xs-color, 66%) !important;
  &.cellJackpot {
    background: $xs-color !important;
    box-shadow: mix($xs-color, $jackpot-color, 66%) 0 0 0 1px, inset mix($xs-color, $jackpot-color, 66%) 0 0 0 1px;
  }
}