@import '../../style/_config';

$default-color: hsla(0, 0%, 0%, .5);
$active-color: rgb(152, 251, 152);
$jackpot-color: crimson;
$xl-color: #e91e63;
$l-color: #9b59b6;
$m-color: #f1c40f;
$s-color: #e67e22;
$xs-color: #e74c3c;

$cell-remaining-color-from: hsl(184, 9%, 62%);
$cell-remaining-color-middle: hsl(194, 9%, 52%);
$cell-remaining-color-to: #7f8c8d;

$cell-empty-color-from: #bdc3c7;
$cell-empty-color-middle: hsl(202, 5%, 84%);
$cell-empty-color-to: #ecf0f1;

$cell-active-color-from: hsl(97, 47%, 60%);
$cell-active-color-middle: hsl(107, 37%, 70%);
$cell-active-color-to: hsl(117, 42%, 75%);

$cell-jackpot-color-from: hsl(186, 75%, 49%);
$cell-jackpot-color-middle: hsl(196, 65%, 59%);
$cell-jackpot-color-to: hsl(206, 70%, 64%);


@mixin gradient($color) {
  //176  75  49
  //186  65  59
  //196  70  64
  background-image: linear-gradient(
    141deg,
    adjust-color($color, $hue: -10deg, $saturation: 10%, $lightness: -10%) 0%,
    $color 71%,
    adjust-color($color, $hue: 10deg, $saturation: 5%, $lightness: 5%) 100%
  );
}

.section {
  composes: section from '../../style/_section.scss';
  color: #263238;  
}

.header {
  composes: tag is-primary from '../../style/_bulma.scss';
  margin-top: 10px;
  margin-bottom: 10px;
}
.navbar {
  composes: subtitle from '../../style/_bulma.scss';
  font-size: 16px;
}
.state {
  composes: title is-5 from '../../style/_bulma.scss';
  height: 40px;
}
.sendButton {
  composes: button is-success from '../../style/_bulma.scss';
}

.versusGrid {
  display: flex;
  flex-wrap: wrap;
  
  height: 320px;
  width: 320px;
  margin-left: auto;
  margin-right: auto;
  transition: all 150ms ease;
  box-shadow: inset 1px 1px 0 hsla(0, 0%, 0%, .1), inset -1px -1px 0 hsla(0, 0%, 0%, .1);
  overflow: hidden;
}
.versusGridWaiting {
  opacity: .5;
  transform: scale(.9);
}

.cell {
  //border: 1px solid  $border-color;
  //background-color: $default-color;
  //box-shadow: $default-color 0 0 0 1px, inset $default-color 0 0 0 1px;
  background: linear-gradient(
    141deg,
    $cell-remaining-color-from 0%,
    $cell-remaining-color-middle 71%,
    $cell-remaining-color-to 100%
  );
  border: 1px hsla(0, 0%, 0%, .2) solid;
  //box-shadow: -1px -1px 0 hsla(0, 0%, 0%, .2), 1px 1px 0 hsla(0, 0%, 0%, .2);
  border-left-width: 0px;
  border-top-width: 0px;
  height: 10%;
  width: 10%;
}
.cellActive {
  //border-color: $active-color;
  //box-shadow: $success 0 0 0 1px, inset $success 0 0 0 1px;
  background: linear-gradient(
    141deg,
    $cell-active-color-from 0%,
    $cell-active-color-middle 71%,
    $cell-active-color-to 100%
  );
  //background-color: mix($default-color, $active-color, 66%);
  position: relative;
  z-index: 100;
}
.cellJackpot {
  //border-color: $active-color;
  background: linear-gradient(
    141deg,
    $cell-jackpot-color-from 0%,
    $cell-jackpot-color-middle 71%,
    $cell-jackpot-color-to 100%
  );
  position: relative;
  z-index: 1;
}
.cellEmpty {
  background: linear-gradient(
    141deg,
    $cell-empty-color-from 0%,
    $cell-empty-color-middle 51%,
    $cell-empty-color-to 100%
  );
  background-image: none;
  border: none;
}
.navbar {
  position: relative;
  padding-left: 30px;
  padding-right: 30px;
}
.backLink {
  position: absolute;
  top: 0px;
  left: 0px;
  color: inherit;
  padding-left: 2px;
  padding-right: 2px;
  text-decoration: none;
}
.cellRemaining {
  opacity: .8;
}
.cellTransition {
  transition: all 150ms ease;
}
.cellXL {
  composes: cellTransition;
  opacity: .3;
  @include gradient($xl-color);
  &.cellJackpot {
    opacity: 1;
  }
}
.cellL {
  composes: cellTransition;
  opacity: .3;
  filter: grayscale(0%);
  @include gradient($l-color);
  &.cellJackpot {
    opacity: 1;
  }
}
.cellM {
  composes: cellTransition;
  opacity: .3;
  @include gradient($m-color);
  &.cellJackpot {
    opacity: 1;
  }
}
.cellS {
  composes: cellTransition;
  opacity: .3;
  @include gradient($s-color);
  &.cellJackpot {
    opacity: 1;
  }
}
.cellXS {
  composes: cellTransition;
  opacity: .3;
  @include gradient($xs-color);
  &.cellJackpot {
    opacity: 1;
  }
}