{
  "presets": ["react", "es2015", "stage-0"],
  "env": {
    "production": {
      "presets": []
    },
    "development": {
      "presets": ["react-hmre"]
    },
    "server": {
      "presets": ["node6"]
    }
  }
}
