{
  "presets": ["react-app"],
  "plugins": [
    "transform-export-extensions",
    "transform-flow-strip-types",
  ],
  "env": {
    "development": {
      "presets": ["react-hmre"]
    },
    "test": {
      "plugins": ["transform-es2015-modules-commonjs"]
    },
    "server": {
      "presets": ["node6"]
    }
  }
}
