{
  "presets": ["react", ["es2015", {"modules": false}], "stage-0"],
  "env": {
    "production": {
      "presets": []
    },
    "development": {
      "presets": ["react-hmre"]
    },
    "test": {
      "plugins": ["transform-es2015-modules-commonjs"]
    },
    "server": {
      "presets": ["node6"]
    }
  }
}
