
@logo-transition-stagger: 100ms;
@logo-transition-duration: 100ms;
@logo-transition: all (@logo-transition-duration + (@logo-transition-stagger * 5)) ease-out;


.uk-navbar-brand.tm-logo {
  background-repeat: no-repeat;
  background-position: 11px 50%;
  background-size: 64px 100%;
  position: relative;

  &:after {
    display: block;
    content: '';
    background-repeat: no-repeat;
    background-position: 10px 50%;
    background-size: 64px 100%;
    position: absolute;
    right: 12px;
    top: 4px;
    height: 32px;
    width: 4px;
  }
}
.tm-logo-border {
  background-repeat: no-repeat;
  background-position: 11px 50%;
  background-size: 64px 100%;
  display: block;
  position: absolute;
  top: 4px;
  right: 11px;
  left: 11px;
  bottom: 4px;

  & > * {
    position: absolute;
    overflow: hidden;

    &:after {
      transition: @logo-transition;
    }

  }
}
.tm-logo-border-t {
  top: 0px;
  left: 4px;
  height: 4px;
  right: 4px;

  &:after {
    display: block;
    content: '';
    background-image: url('/favicons/border-horizontal.svg');
    background-position: 4px center;
    background-repeat: repeat-x;
    transform: translateX(-32px);
    top: 0px;
    left: 0px;
    height: 4px;
    width: 64px;
    margin-left: -8px;
  }
}
.tm-logo-border-r {
  top: 0px;
  height: 32px;
  right: 0px;
  width: 36px;

  &:after {
    display: block;
    content: '';
    background-image: url('/favicons/border-vertical.svg');
    background-position: 0px 0px;
    background-repeat: repeat-y;
    transform: translateX(0px) translateY(0px);
    top: 0px;
    right: 0px;
    height: 64px;
    width: 4px;
  }
}
.tm-logo-border-b {
  bottom: 0px;
  left: 4px;
  height: 4px;
  right: 4px;

  &:after {
    display: block;
    content: '';
    background-image: url('/favicons/border-horizontal.svg');
    background-position: 0px center;
    background-repeat: repeat-x;
    transform: translateX(-32px);
    bottom: 0px;
    left: 0px;
    height: 4px;
    width: 64px;
    margin-left: -8px;
  }
}
.tm-logo-border-l {
  top: 0px;
  height: 32px;
  left: 0px;
  width: 4px;

  &:after {
    display: block;
    content: '';
    background-image: url('/favicons/border-vertical.svg');
    background-position: 0px 4px;
    background-repeat: repeat-y;
    transform: translateY(0px);
    top: 0px;
    right: 0px;
    height: 64px;
    width: 4px;
  }
}

.tm-logo:hover {
  .tm-logo-border-t:after {
    transform: translateX(0px);
    background-position: 36px center;
  }
  .tm-logo-border-b:after {
    transform: translateX(0px);
    background-position: 32px center;
  }
  .tm-logo-border-r:after {
    transform: translateX(32px) translateY(-32px);
  }
  .tm-logo-border-l:after {
    transform: translateY(-32px);
  }
  .tm-logo-e,
  .tm-logo-p,
  .tm-logo-i,
  .tm-logo-c {
    transform: translateX(0px);
  }
  .tm-logo-p,
  .tm-logo-i,
  .tm-logo-c {
    opacity: 1;
  }
  .tm-logo-e {
    transition-delay: 0ms;
  }
  .tm-logo-p {
    transition-delay: @logo-transition-stagger * 3;
  }
  .tm-logo-i {
    transition-delay: @logo-transition-stagger * 4;
  }
  .tm-logo-c {
    transition-delay: @logo-transition-stagger * 5;
  }
}
.tm-logo:active {
  .tm-logo-e,
  .tm-logo-p,
  .tm-logo-i,
  .tm-logo-c {
    transform: scale(0.8);
    transition-duration: 100ms;
    transition-delay: 0ms;
  }
}

.tm-logo-e,
.tm-logo-p,
.tm-logo-i,
.tm-logo-c {
  transition: @logo-transition;
  transition-duration: @logo-transition-duration;
  transform: translateX(4px);
}
.tm-logo-p,
.tm-logo-i,
.tm-logo-c {
  opacity: 0;
}
.tm-logo-c {
  transition-delay: 0ms;
}
.tm-logo-i {
  transition-delay: @logo-transition-stagger * 1;
}
.tm-logo-p {
  transition-delay: @logo-transition-stagger * 2;
}
.tm-logo-e {
  transition-delay: @logo-transition-stagger * 3;
}

.tm-logo-e,
.tm-logo-p,
.tm-logo-i,
.tm-logo-c {
  height: 32px;
}
