@import '../../style/_bulma';

.dashboard {
  composes: container has-text-centered from 'bulma';
}

.tabscontainer {
  composes: has-text-left from 'bulma';
  display: inline-block;
  padding: 0 20px;
  max-width: $container-width;
  width: 100%;
}

.tabs {
  composes: tabs is-centered is-small from 'bulma';
  
  padding-top: 10px;
}
.isActive {
  composes: is-active from 'bulma';
}

.logoutButton {
  composes: button is-danger is-outlined is-small from 'bulma';
  margin-top: .3em;
}

.usernameItem {
  composes: navbar-item has-text-centered from 'bulma';
}
.placeholderItem {
  composes: navbar-item has-text-left from 'bulma';
}
.logoutItem {
  composes: navbar-item has-text-right from 'bulma';
}

.test {
  composes: progress is-primary from 'bulma';
}