@import '../../style/_bulma';

.hero {
  composes: hero is-fullheight from 'bulma';
  position: relative;
  z-index: 100;
  background: $grey-lighter;
}
.heroContent {
  composes: hero-body from 'bulma';
}
.container {
  composes: container from 'bulma';

  max-width: 500px;
}

.title {
  composes: subtitle is-3 from 'bulma';
  text-align: center;
}
