@import '../../style/_config';

.section {
  composes: section from '../../style/_section.scss';
  
  align-items: center;
  justify-content: center;

  background: $bg-login;
  
  form {
      background: hsla(0, 0%, 0%, .1);
      display: flex;
      overflow: hidden;
      max-width: 500px;
      transition: background 150ms ease, opacity 300ms ease-out;
      width: 100%;
      
      input {
          background: hsla(0, 0%, 100%, 0);
          color: hsla(0, 0%, 0%, .9);
          padding: 0.5rem 1rem;
          width: 100%;
          
          &::placeholder {
              color: hsla(0, 0%, 0%, .4);
          }
      }
      button {
          background: darken($bg-login, 40%);
          color: $bg-login;
          opacity: 1;
          padding: 0.5rem .1rem;
          transition: all 300ms cubic-bezier(0.65, 0.05, 0.36, 1);
          transform: translateX(0%);
          text-transform: uppercase;
          width: 5rem;
          
          &:hover {
              color: lighten($bg-login, 30%);
              background: darken($bg-login, 30%);
          }
          &:active {
              color: lighten($bg-login, 40%);
              background: darken($bg-login, 40%);
          }
      }
      
      input, button {
          border: none;
          font-size: 1rem;
          margin: 0;
          
          &:focus {
              outline: 0;
          }
      }
      
      &:hover, &:focus, &:active {
          background: hsla(0, 0%, 100%, .1);
      }
      
      &:invalid, input:invalid + {
          button {
              opacity: 0;
              transform: translateX(100%);
          }
      }
  }
}
.pendingMessage {
  transition: opacity 300ms ease-out;
}

.container {
  composes: container from '../../style/bulma.scss';
}
.hero {
  composes: hero is-dark is-bold is-fullheight from '../../style/bulma.scss';
}
.hero-content {
  composes: hero-content from '../../style/bulma.scss';
}
.hero-header {
  composes: hero-header from '../../style/bulma.scss';
  
  text-align: center;
  margin-top: 10px;
}
.hero-footer {
  composes: hero-footer from '../../style/bulma.scss';
}
.tabs {
  composes: tabs is-boxed is-fullwidth from '../../style/bulma.scss';
}

// @TODO http://codepen.io/WebSonick/pen/vjmgu/

// @TODO http://codepen.io/kpk/details/yGLnw