@import '../../style/_bulma';

$cell-remaining-color-from: hsl(184, 9%, 62%);
$cell-remaining-color-middle: hsl(194, 9%, 52%);
$cell-remaining-color-to: #7f8c8d;

$cell-empty-color-from: #bdc3c7;
$cell-empty-color-middle: hsl(202, 5%, 84%);
$cell-empty-color-to: #ecf0f1;

$cell-active-color-from: hsl(97, 47%, 60%);
$cell-active-color-middle: hsl(107, 37%, 70%);
$cell-active-color-to: hsl(117, 42%, 75%);

$cell-jackpot-color-from: hsl(186, 75%, 49%);
$cell-jackpot-color-middle: hsl(196, 65%, 59%);
$cell-jackpot-color-to: hsl(206, 70%, 64%);


@mixin gradient($color) {
  //176  75  49
  //186  65  59
  //196  70  64
  background-image: linear-gradient(
    141deg,
    adjust-color($color, $hue: -10deg, $saturation: 10%, $lightness: -10%) 0%,
    $color 71%,
    adjust-color($color, $hue: 10deg, $saturation: 5%, $lightness: 5%) 100%
  );
}

.scores {
  width: 320px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 10px;
  margin-bottom: 10px;
  composes: columns is-mobile has-text-centered from 'bulma';
}
.score {
  composes: column from 'bulma';
}
.header {
  composes: heading from 'bulma';
}
.viewerScore {
  composes: tag is-primary from 'bulma';
}
.versusScore {
  composes: tag is-danger from 'bulma';
}
.viewerScore, .versusScore {
  font-size: .8em;
  border-radius: 2px;
  break: both;
}
.navbar {
  composes: columns is-mobile from 'bulma';
  font-size: 16px;
  min-height: 16px;
}
.navbarTitle {
  composes: column is-8 has-text-centered from 'bulma';
}

.state {
  composes: title is-6 from 'bulma';
  min-height: 30px;
  width: 320px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 10px!important;
  margin-top: 20px;
}
.sendButton {
  composes: button is-success from 'bulma';
  touch-action: manipulation;
  float: right;
  transform: translateY(-4px);
}

.versusGrid {
  display: flex;
  flex-wrap: wrap;
  
  height: 320px;
  width: 320px;
  margin-left: auto;
  margin-right: auto;
  transition: all 150ms ease;
  box-shadow: inset 1px 1px 0 hsla(0, 0%, 0%, .1), inset -1px -1px 0 hsla(0, 0%, 0%, .1);
  overflow: hidden;
  touch-action: manipulation;
}
.versusGridContainer, .viewerGridContainer {
  //transition: all 500ms cubic-bezier(0.18, 0.89, 0.32, 1.1);
  transition: opacity 150ms ease-in-out;
}
.viewerGridContainer {
  margin-left: auto;
  margin-right: auto;
  width: 320px;
  //transition-delay: 3s;
  transform: scale(.5);
  opacity: .5;
  transform-origin: top right;
  margin-top: 10px;
}
.versusGridContainer {
  margin-left: auto;
  margin-right: auto;
  width: 320px;
  //transition-delay: 3s;
}

.versusGridWaiting {
  opacity: .5;
  transition-delay: 0s;
}
.viewerGridWaiting {
  opacity: 1;
  transition-delay: 0s;
}

.cell {
  //border: 1px solid  $border-color;
  //background-color: $default-color;
  //box-shadow: $default-color 0 0 0 1px, inset $default-color 0 0 0 1px;
  background: linear-gradient(
    141deg,
    $cell-remaining-color-from 0%,
    $cell-remaining-color-middle 71%,
    $cell-remaining-color-to 100%
  );
  border: 1px hsla(0, 0%, 0%, .2) solid;
  //box-shadow: -1px -1px 0 hsla(0, 0%, 0%, .2), 1px 1px 0 hsla(0, 0%, 0%, .2);
  border-left-width: 0px;
  border-top-width: 0px;
  height: 10%;
  width: 10%;
}
.cellActive {
  //border-color: $active-color;
  //box-shadow: $success 0 0 0 1px, inset $success 0 0 0 1px;
  background: linear-gradient(
    141deg,
    $cell-active-color-from 0%,
    $cell-active-color-middle 71%,
    $cell-active-color-to 100%
  );
  //background-color: mix($default-color, $active-color, 66%);
  position: relative;
  z-index: 100;
}
.cellJackpot {
  //border-color: $active-color;
  background: linear-gradient(
    141deg,
    $cell-jackpot-color-from 0%,
    $cell-jackpot-color-middle 71%,
    $cell-jackpot-color-to 100%
  );
  position: relative;
  z-index: 1;
}
.cellEmpty {
  background: linear-gradient(
    141deg,
    $cell-empty-color-from 0%,
    $cell-empty-color-middle 51%,
    $cell-empty-color-to 100%
  );
  background-image: none;
  border: none;
}
.navbar {
  position: relative;
  padding-left: 30px;
  padding-right: 30px;
  padding-top: 10px;
}
.backLink {
  composes: column is-2 from 'bulma';
  color: inherit;
  padding-left: 2px;
  padding-right: 2px;
  text-decoration: none;
  white-space: nowrap;
}
.cellRemaining {
  opacity: .8;
}
.cellTransition {
  transition: all 150ms ease;
}

.cellXL, .cellL , .cellM, .cellS , .cellXS {
  composes: cellTransition;
  opacity: .3;
  &.cellJackpot {
    opacity: 1;
  }
}
.viewerGridContainer {
  .cellXL, .cellL , .cellM, .cellS , .cellXS {
    @include gradient($danger);
  }
  
}
.viewerGridContainer:active {
  .cellXL {
    @include gradient($xl-color);
  }
  .cellL {
    @include gradient($l-color);
  }
  .cellM {
    @include gradient($m-color);
  }
  .cellS {
    @include gradient($s-color);
  }
  .cellXS {
    @include gradient($xs-color);
  }
}