@import '../../style/_bulma';

.hero {
  composes: hero is-fullheight is-danger is-bold from 'bulma';
  position: relative;
  z-index: 100;
}
.heroContent {
  composes: hero-content from 'bulma';
}
.container {
  composes: container from 'bulma';
}

.title {
  composes: title is-3 from 'bulma';
}
.subtitle {
  composes: subtitle is-5 from 'bulma';
}
.retry {
  composes: subtitle from 'bulma';
}