@import '../../style/_config';

.hero {
  composes: hero is-fullheight is-danger is-bold from '../../style/bulma.scss';
  position: relative;
  z-index: 100;
}
.heroContent {
  composes: hero-content from '../../style/bulma.scss';
}
.container {
  composes: container from '../../style/bulma.scss';
}

.title {
  composes: title is-3 from '../../style/bulma.scss';
}
.subtitle {
  composes: subtitle is-5 from '../../style/bulma.scss';
}
.retry {
  composes: subtitle from '../../style/bulma.scss';
}