@import 'reset';
@import 'config';

@import 'components/sections';
@import 'components/pages';
@import 'components/buttons';

@import 'backgrounds/login';

html {
	font-family: $font-family;
	font-size: $base-font-size;
	box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}