$btn-bg: hsl(202, 4%, 51%) !default;


@keyframes activity-indicator {
  0%   { color: hsl(203, 25%, 48%); }
  50% { color: hsl(203, 25%, 68%); }
  100% { color: hsl(203, 25%, 48%); }
}
.button-label-enter {
  opacity: 0.01;
}

.button-label-enter.button-label-enter-active {
  opacity: 1;
  transition: opacity 150ms linear;
}

.button-label-leave {
  opacity: 1;
  position: absolute;
  left: 0px;
  right: 0px;
}

.button-label-leave.button-label-leave-active {
  opacity: 0.01;
  transition: opacity 150ms linear;
}


.btn {
    display: block;
    border: none;
    background: $btn-bg;
    margin: 0;
    padding: .2rem .4rem;
    color: white;
    text-transform: uppercase;
    overflow: hidden;
    height: 1rem;
    width: 100%;
    transition: all 300ms cubic-bezier(0.65, 0.05, 0.36, 1);
    

    &:disabled {
        opacity: 0.3;
    }
    &:active, &:focus {
        outline: 0;
    }
}
.btn-primary {
    background: teal;
}
.btn-decline {
    color: hsla(0, 0%, 100%, .6);
    background: hsl(204, 25%, 28%);
    font-weight: 700;
    font-size: 1rem;
    line-height: 1;
    padding: 0;
    width: 1.2rem;
    left: 100%;
    top: 0;
    position: absolute;
    transform: translate(-1.2rem, 0%);
    will-change: translate;
    
    &:hover {
        color: white;
    }
    
    strong {
        margin-top: -.1em;
        display: block;
    }
}
.btn-pending {
    background: hsl(204, 25%, 28%);
    color: hsl(203, 25%, 48%);
    position: relative;
    animation: activity-indicator .9s cubic-bezier(0.46, 0.03, 0.52, 0.96) .6s infinite;
}
.btn-disabled {
    pointer-events: none;
}
.btn-pending, .btn-accept {
    //transform: translate(-0.5rem, 0%);
}

.btn-decline.btn-disabled {
    transform: translate(-.6rem, 0%);
    
    background: $btn-bg;
    color: fade-out(crimson, 1);
}
.btn-accept {
    color: hsl(154, 100%, 25%);
    background: white;
}