@import '../../style/_bulma';

.section {
  composes: section from '../../style/_section.scss';

  color: $bg-disconnected;
  background: $bg-unsupported-browser;
  
  a {
    position: relative;
    padding: .5em 1em;
    
    span {
      position: absolute;
      top: 100%;
      left: 0;
      right: 0;
      text-align: center;
      text-decoration: none;
      text-transform: capitalize;
      font-weight: 700;
      color: rgba(darken($bg-disconnected, 33%), .7);
    }
  }
}