.enter, .appearActive {
  opacity: 0.01;
}

.enterActive, .appearActive {
  opacity: 1;
  transition: opacity 300ms ease-out;
}

.leave {
  opacity: 1;
}

.leaveActive {
  opacity: 0.01;
  transition: opacity 300ms ease-out;
}